<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Fleet management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Fleet management</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn btn-outline-primary" href="/users">Пользователи</a>
        <a class="p-2 text-dark" href="/feedbacks">Сообщения</a>
        <a class="p-2 text-dark" href="/texservice">ТО</a>
        <a class="p-2 text-dark" href="/shina">Шины</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>




<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Фото</th>
        <th scope="col">ФИО</th>
        <th scope="col">email</th>
        <th scope="col">Должность</th>
        <th scope="col">Активирован</th>
    </tr>
    </thead>
    <tbody>

    <%let i = 0;
        emails.forEach(function(childSnapshot) {
            var key = childSnapshot.id;
            var item = childSnapshot.data();
            if(item.photoPath.length == 0)
                item.photoPath = 'https://firebasestorage.googleapis.com/v0/b/fleet-management-8dfc9.appspot.com/o/placeholder-man.png?alt=media&token=04920483-9eb3-4f69-8637-0543d75e5aec';

            i = i + 1;
            var accepted = item.accept ? "ДА":"НЕТ"
    %>

    <tr>
        <th scope="row"><%=i%></th>
        <td><img src="<%=item.photoPath%>" class="img-fluid" alt="..." height="50px" width="50px"></td>
        <td><%=item.fio%></td>
        <td><%=item.email%></td>
        <td><%=item.staff%></td>
        <td><%=accepted%></td>
        <td><a href="/users?id=<%=key%>">...</a></td>
    </tr>

    <%});%>

    </tbody>
</table>

</body>
</html>


