<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Fleet management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script>
        let searchMode = false;
        function swichSearchMode() {
            const searchRow = document.getElementById("searchRow");
            searchMode = !searchMode;
            searchRow.hidden = searchMode;

        }

        function search() {
            const searchElement = document.getElementById("searchInput");
            alert(searchElement.value);
            request("/shina")
        }
    </script>
    <style>
        label {
            display: block;
            font: 1rem 'Fira Sans', sans-serif;
        }

        input,
        label {
            display: block;
            margin: .4rem 0;
        }

    </style>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Fleet management</h5>
    <nav class="my-2 my-md-0 mr-md-3">

        <%if(accept) {%>
            <a class="btn btn-outline-primary" href="/users">Работающие</a>
            <a class="p-2 text-dark" href="/users/unconfirmed">Неподтвержденные</a>
        <%} else {%>
                <a class="p-2 text-dark" href="/users">Работающие</a>
                <a class="btn btn-outline-primary" href="/users/unconfirmed">Неподтвержденные</a>
            <%}%>
            <a class="btn btn-outline-primary" href="/users">Пользователи</a>
    </nav>
    <a class="btn btn-outline-primary" href="/">Назад</a>
</div>



<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Фото</th>
            <th scope="col">
                <div style="width: 70%; display: inline-block">ФИО</div>
                 <img src="/img/filter_off.png" alt="..." onclick="swichSearchMode()" width="15px" height="15px">
            </th>
            <th scope="col">email</th>
            <th scope="col">Должность</th>
            <th scope="col">Активирован</th>
        </tr>
        <tr id="searchRow" hidden>
            <td></th>
            <td></td>
            <td>
                <div style="width: 70%; display: inline-block;">
                    <input type="search" id="searchInput" name="search" aria-label="Search through site content">
                </div>
                <button onclick="search()">Поиск</button>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>

    <%let i = 0;
        emails.forEach(function(item) {
            i = i + 1;
    %>

    <tr>
        <th scope="row"><%=i%></th>
        <td><img src="<%=item.photoPath%>" class="img-fluid" alt="..." height="50px" width="50px"></td>
        <td><%=item.fio%></td>
        <td><%=item.email%></td>
        <td><%=item.staff%></td>
        <td><%=item.accept%></td>
        <td>
            <a href="/users?id=<%=item.key%>">
                <img src="/img/edit.png" class="img-fluid" alt="..." height="50px" width="50px">
            </a>
        </td>
    </tr>

    <%});%>

    <tr>
        <td colspan="7" align="center">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item">
                        <%if(accept) {%>
                                <a class="page-link" href="/users?paging=next" style="width:100%" >Ещё</a>
                        <%} else {%>
                                <a class="page-link" href="/users/unconfirmed?paging=next" style="width:100%" >Ещё</a>
                        <%}%>
                    </li>
                </ul>
            </nav>
        </td>
    </tr>

    </tbody>

</table>

</body>
</html>


